body {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: #fdf6f9;}
h1{color: #c71585;text-align: center;margin-top: 30px;}
fieldset{margin: 20px;padding: 10px;width: 60%;border: 2px solid #c71585;background-color: #fff0f5;}
ul{text-align: left;}
ol{text-align: left;}
table{margin-left: 300px;margin-right: 50px;border: 1px solid black;border-collapse:collapse;}
a {color: #c71585;font-weight: bold;}